.section-cafe {
    position: relative;
    height: 520px;
    overflow: hidden;
}

.section-cafe-img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

.section-cafe-title {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    color: rgba(255, 255, 255, 1);
    font-family: 'Shadows Into Light', cursive;
    font-style: Regular;
    font-size: 110px;
    font-weight: 400;
    line-height: 177px;
    letter-spacing: 0%;
    text-align: center;
}

.drink-card img {
  object-fit: cover;
}

.drink-label {
  width: 100%;
  height: 90px;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-family: serif;
}

.drink-circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 9px solid rgba(129, 97, 59, 1);
}

.drink-circle img {
    object-fit: cover;
}

/* нижня частина */
.drink-overlay {
    height: 25%;  /* 1/4 */
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(1px); /* розмиття */
    color: rgba(0, 0, 0, 1);

    font-family: Georgia;
    font-style: Regular;
    font-size: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.menu-title {
    color: rgba(0, 0, 0, 1);

    font-family: Georgia;
    font-style: Regular;
    font-size: 26px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.btn-green {
  background-color: #6f8f6b;
  padding: 14px 36px;
  height: 40px;
  border-radius: 999px; /* повністю овальна */
  border: none;

  font-family: 'Noto Sans JP', sans-serif;
  color: rgba(255, 255, 255, 1);
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
}

.btn-green:hover {
  background-color: #5e7c5a;
  color: #ffffff;
}

/* стрілка */
.btn-green .arrow {
  font-size: 16px;
  line-height: 1;
}

.menu-btn {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-cafe-about{
  color: rgba(255, 255, 255, 1);

font-family: 'Noto Sans JP', sans-serif;
font-style: Medium;
font-size: 30px;
font-weight: 500;
line-height: 35px;
letter-spacing: 0%;
text-align: center;
}

.section-cafe {
    height: 600px;
    background: url("../img/cafe 1.png") center / cover no-repeat;
    position: relative;
}

.section-cafe::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35); /* затемнення */
}

.section-cafe-content {
    position: relative;
    color: #fff;
}

.section-cafe-title {
    font-size: 40px;
    margin-bottom: 16px;
}

.section-cafe-text {
    font-size: 16px;
    line-height: 1.6;
}
