.drink-circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 9px solid #81613b;
}

.drink-circle img {
  object-fit: cover;
}

/* нижня частина */
.drink-overlay {
  height: 25%;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(1px); /* розмиття */
  font-size: 32px;
  font-family: serif;
}


.hero {
    height: 520px;
    background: url("../img/cafe 1.png") center / cover no-repeat;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35); /* затемнення */
}

.hero-content {
    position: relative;
    color: #fff;
}

.hero-title {
    font-size: 40px;
    margin-bottom: 16px;
}

.hero-text {
    font-size: 16px;
    line-height: 1.6;
}
