*{
    box-sizing: border-box;
}

body{
    margin-left: 9.37%;
    width: 80%; 
}

header{
    display:  inline-flex;
    align-items: center;
    width: 100%;
    margin-top: 3.5rem;
    margin-bottom: 10rem;
}

.h-search{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.h-search p{
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 1px;
}

.header-logo{
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 2px;
    text-align: left;
}

.header-centre{
    margin: 0 20%; 
    display: flex;
    /* gap: 12.68%; */
    font-family: 'Nunito Sans', sans-serif;
    color: rgba(0, 0, 0, 1);
    font-size: 19px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1px;
    text-align: center;
}

.nav-item {
  display: flex;
  flex-direction: column;   /* вертикально */
  align-items: center; 
}
.circle{
    margin-top: -3px;
    font-size: 7px;
    color: rgba(242, 153, 74, 1)
}
.header-centre h3 {
  white-space: nowrap;
  display: inline-flex;
}

.header-centre h3:nth-child(2),
.header-centre h3:nth-child(3){
    margin-left: 2rem;
}

.header-right{
    display: flex;
}

.header-right h3{
    font-family: 'Nunito Sans', sans-serif;
    color: rgba(0, 0, 0, 1);
    font-size: 19px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1px;
    text-align: left;
    margin-right: 2rem;
}

.btn {
    padding: 14px 32px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-right: 90px;
    width: 270px;
    height: 65px;
    transition: all 0.3s ease;
    justify-content: center;
}

.btn-primary {
    background-color: #e50914;
    color: #fff;
}

.btn-primary:hover {
    background-color: #f6121d;
}
.play {
    font-size: 32px;
    margin-left: 8px;
}